    /*Clase para el contenedor global*/
    .container{
     width: 800px;
     margin: auto; /*forza a centrado horizontal en la ventana*/
    }
     /*Observa que usamos medidas dinámicas*/
     section{ 
         background: #F9F5C9;
         margin: 1% 0;
         padding: 1% 0;
     }
     
     /*Clase usamos para interrupir la flotación*/
     .clear{ clear: both;}

     /*Clase para el ejercicio*/
     .col2{
        background: pink;
        width: 50%;
        margin: 1% 0;
        float: left;
        padding: 1%;
        box-sizing: border-box;
     }
     .col3{
        background: pink;
        width: 33%;
        margin: 1% 0;
        float: left;
        padding: 1%;
        box-sizing: border-box;
     }
     .col5{
        background: pink;
        width: 20%;
        margin: 1% 0;
        float: left;
        padding: 1%;
        box-sizing: border-box;
     }

     nav ul{
        margin: auto;
        width: 450px;
        background: cyan;
        padding: 0;
     }
     nav ul li{
        text-align: center;
        width: 33.33%;
        background: cyan;
        list-style: none;
        padding: 10px 0;
        float: left;
     }
        nav ul li:hover{
            background: #E44DFE;
        }
     nav ul li a{
        text-decoration: none;
        color: darkblue;
     }
     /*Reglas para Responsive Web Desing*/
     @media screen and (min-width: 576px)  and (max-width: 768px) {
        .container, nav ul, .col2, .col3, .col5{
            width: 100%;
        }
     }